# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=COVID19 Core
Comment=COVID19 Core QT main network
GenericName=COVID19 Digital Currency QT client main network
Exec=covid19-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/covid19.png
MimeType=x-scheme-handler/covid19;
Categories=X-Office;X-Finance;
Keywords=internet;covid19;zcov19;cov19;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
